@using ZazasCleaningService.Common
@model ZazasCleaningService.Web.ViewModels.Services.Details.ServicesDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Services/All">Services</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<div class="offers-w3ls py-5">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Services Details</h2>
        <div class="row">
            <div class="col-lg-6 offers-agiles-left">
                <img src="@Model.Picture" alt="" class="img-fluid">
                <div class="p-mask w-50 justify-content-around">
                    <div class="w3l-button text-center">
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a href="/Administration/Services/Edit/@Model.Id"
                               class="btn btn-sm animated-button victoria-two text-dark mt-4">
                                Edit
                            </a>
                            <a href="/Administration/Services/Delete/@Model.Id"
                               class="btn btn-sm animated-button victoria-two text-dark mt-4">
                                Delete
                            </a>
                        }
                        else
                        {
                            <a href="/Orders/Create/CreateOrderServices/@Model.Id"
                               class="btn btn-sm animated-button victoria-two text-dark mt-4">
                                Order
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
                <div class="w3l-button text-right">
                    <form id="votesForm" method="post"></form>
                    <div>
                        <a href="#" onclick="sendVote(@Model.Id, true)">
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                    </div>
                    <div id="votesCount">@Model.VotesCount</div>
                    <div>
                        <a href="#" onclick="sendVote(@Model.Id, false)">
                            <i class="fa fa-thumbs-down"></i>
                        </a>
                    </div>
                </div>
                <h4 class="mb-4 title-2-agiles">@Model.Name</h4>
                <p class="mt-4">@Model.Description</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function sendVote(serviceId, isUpVote) {
            let token = $("#votesForm input[name=__RequestVerificationToken]").val();
            let json = { serviceId: serviceId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { "X-CSRF-TOKEN": token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}
