@model List<ZazasCleaningService.Web.ViewModels.Services.Order.Cart.ServiceOrdersCartViewModel>
@{
    ViewData["Title"] = "ProductsCart";
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Services Orders</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
@if (Model.Count == 0)
{
    <div class="offers-w3ls py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="row">
                <div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
                    <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">
                        My Services Orders
                    </h2>
                    <h4 class="text-center text-primary">You have no ordered services in your cart.</h4>
                    <hr class="hr-2 bg-primary">
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="py-5">
        <div class="container py-xl-5 py-lg-3">
            <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">My Services Orders</h2>
            <div id="orders" class="text-primary">
                <div class="order-info row mt-4">
                    <h3 class="col-md-1 text-left">#</h3>
                    <h3 class="col-md-3 text-left">Image</h3>
                    <h3 class="col-md-2 text-left">Service</h3>
                    <h3 class="col-md-2 text-left">Description</h3>
                    <h3 class="col-md-2 text-left">From</h3>
                    <h3 class="col-md-2 text-left">To</h3>
                </div>
                <hr class="hr-2 bg-primary">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="order row">
                        <h5 class="col-md-1 text-left">@(i + 1)</h5>
                        <div class="col-md-3">
                            <img class="img-thumbnail product-cart-image" src="@Model[i].ServicePicture" />
                        </div>
                        <h5 class="col-md-2 text-left">@Model[i].ServiceName</h5>
                        <h5 class="col-md-2 text-left">@Model[i].ServiceDescription</h5>
                        <h5 class="col-md-2 text-left">@Model[i].From.ToString("MM/dd/yyyy HH:mm")</h5>
                        <h5 class="col-md-2 text-left">@Model[i].To.ToString("MM/dd/yyyy HH:mm")</h5>
                    </div>
                    @if (i != Model.Count)
                    {
                        <hr class="hr-2 bg-primary">
                    }
                }
            </div>
            <form action="/Order/Cart/Complete" method="post" class="d-flex justify-content-between">
                <button class="btn btn-primary font-weight-bold">Complete</button>
            </form>
        </div>
    </div>
}