@using ZazasCleaningService.Web.ViewModels.Comments
@model List<CommentsViewModel>
@{
    ViewData["Title"] = "Posts";
    //var comments = (IEnumerable<CommentParentsViewModel>)this.ViewData["comments"];
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Blog Page</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<div class="single-page py-5">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Cleaner's Blog Page</h2>
        <div class="inner-sec">
            <div class="row">
                <div class="col-lg-8 left-blog-info text-left">
                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                <img src="~/images/4.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <hr />
                        <div class="comment-top">
                            <h3>Comments</h3>
                            <hr />
                            @*@foreach (var comment in Model.ToList())
                            {
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0">@comment.Parents.Select(p => p.UserUserName)</h5>
                                        <div class="sub-meta">
                                            <span>
                                                <i class="far fa-clock">
                                                    @comment.Parents.Select(p => p.CreatedOn.ToString("MM/dd/yyyy HH:mm"))
                                                </i>
                                            </span>
                                        </div>
                                        <p>@comment.Parents.Select(p => p.Content)</p>
                                        <div class="media mt-3">
                                            <a class="d-flex pr-3" href="#">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="mt-0">@comment.Parents.Select(p => p.UserUserName)</h5>
                                                <div class="sub-meta">
                                                    <span>
                                                        <i class="far fa-clock">
                                                            @comment.Parents.Select(p => p.CreatedOn.ToString("MM/dd/yyyy HH:mm"))
                                                        </i>
                                                    </span>
                                                </div>
                                                <p>@comment.Parents.Select(p => p.Content)</p>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }*@
                        </div>
                        <button type="button" 
                                class="btn btn-primary submit float-right" 
                                onclick="showAddCommentForm(0)">
                                Comment
                        </button>
                    </div>
                    <hr />
                    <div>
                        <form asp-controller="Comments"
                              asp-action="Create"
                              method="post"
                              id="AddCommentForm"
                              style="display: none">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" name="Id" value="0@*@Model.Select(c => (int)c.Id)*@" />
                            <input type="hidden" name="ParentId" value="0" />
                            <div>
                                <label for="Content"></label>
                                <textarea name="Content" 
                                          id="Content" 
                                          class="form-control" 
                                          placeholder="Message..."></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary submit float-right">Add Comment</button>
                                <hr />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { 
    <script>
        function showAddCommentForm(parentId) {
            $("AddCommentForm input[name='ParentId']").val(parentId);
            $("#AddCommentForm").toggle();
        }
    </script>
}